.create_container form {
    width: 100%;
    margin: 2em 0;
}

.container-barder {
    width: 100;
    min-width: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.border {
    width: 590px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 55px 10px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.create_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    
}

.create_container h1 {
    margin-bottom: 0.5em;
    color: aliceblue;
}

.create_container p {
    color: #faf6f6;
    font-weight: bold;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: rgb(250, 248, 246);
}

.field label {
    margin-bottom: .6em;
    font-weight: bold;
}

.field input {
    padding: 0.7em;
    border-radius: 0;
    border: none;
}

.field input::placeholder {
    color: azure;
}

.text-center {
    color: aliceblue;
}

.actions {
    padding-bottom: 2em;
    padding-top: 1em;
}

.btonback {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.btonback:hover {
    color: rgb(255, 255, 255);
}